doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        include index.pug 
        h1 Edit Post
        form(action=`/post/edit/${post.id}`, method="POST", enctype="multipart/form-data")
            div
                label(for="title") Title
                input(type="text", name="title", value=post.title)
            div
                label(for="content") Content
                textarea(name="content")= post.content
            div 
                if post.imageUrl
                    img(src=`${post.imageUrl}`, alt="Post Image", style="max-width: 200px;")
                else
                    p No image uploaded.
            div
                label(for="image") Image
                input(type="file", name="image")
            div 
                label(for="tag") Tag
                input(type="text", name="tag", value=post.tag, placeholder="Comma-separated tags")
            div
                button(type="submit") Save Changes
        a(href="/") Back to Home
